body
{
	/*  background-image: url("../images/maxresdefault.jpg");no-repeat; */
	background-color:#80ff00/*margin:0px;*/
	/*background-repeat: no-repeat;*/
}
#header
{
	width:  80px;
	margin: 0px auto;
}
#logo
{
	/*background-image: url("../images/maxresdefault.jpg");*/
	float:left;
	margin:0px auto;
	height:61px;
	width:150px;
}

#headtitle
{
	margin-top:2px;
	padding-bottom:10px;
	font-family:arial;
	font-size:32px;
	font-color:
	text-align:center;
}

.mymenu
{
	list-style:square;
	text-align:right;
}

.menuitem
{
	display:inline-block;
	color:white;
	padding:10px;
	font-size:20px;
	padding-left:25px;
	padding-right:25px;
	border-radius:10px;
	text-decoration: none;
	background-color:#ff0000;
}
